@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {margin:0;padding:0;box-sizing:border-box;}

body
{
    font-family: 'Cardo', 'Volkhov', sans-serif;
    margin: 0px;
    background-color: #56678D;
    background-size: 100%;
}
header
{
    font-family: "Helvetica", "나눔스퀘어라운드", "Noto Sans CJK KR", sans-serif;
    color: #f2dedb;
    padding: 10px;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
header>ul
{
    margin: 15px;
}
header>ul>li
{
    float:left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
header li a {
    color: #f2dedb;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
header li a:hover {
    color: #e5c7c3;
}
.circle{
    margin-left:440px;
    margin-top: 175px;
    width:800px;
    height:600px;
    border-radius:50%;
    background-color:#f2dedb;
    text-align: center;
}
.circle:hover{
    transition: all 0.5s;
    background-color:#56678D;
}
.circle li {
    padding-top:110px;
    list-style: none;
    text-align: center;
}
.circle li a {
    color: #f2dedb;
    font-size: 100px;
    font-weight: 100;
    text-decoration: none;
}
.circle li a:hover {
    font-style: italic;
    text-decoration: underline;
}