.fra1{
    display:flex;
}
.fra1 > img{
    width: 100%;
    height: auto;
}

.back {
    position: absolute;
    width: 100%;
    height: 700px;
    top:50%;

    background: #FAF6F2;
}
.bg1 > img{
    align-items:center;
    width: 100%;
    top:0px;
}

.f3-m{
    display:flex;
    justify-content: left;
}
.pl1 > p:nth-child(1){
    position: absolute;
    width: 79px;
    height: 29px;
    top: 62%;
    left: 5%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.pl1 > p:nth-child(2){
    position: absolute;
    width: 52px;
    height: 24px;
    top: 70%;
    left: 5%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;  
}
.pl1 > p:nth-child(3){
    position: absolute;
    width: 200px;
    height: 22px;
    top: 73%;
    left: 5%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;    
}
.de1 > p:nth-child(1){
    position: absolute;
    width: 79px;
    height: 29px;
    top: 62%;
    left: 20%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.de1 > p:nth-child(2){
    position: absolute;
    width: 52px;
    height: 24px;
    top: 70%;
    left: 20%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;  
}
.de1 > p:nth-child(3){
    position: absolute;
    width: 200px;
    height: 22px;
    top: 73%;
    left: 20%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;    
}
.de2 > p:nth-child(1){
    position: absolute;
    width: 52px;
    height: 24px;
    top: 70%;
    left: 37.5%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;  
}
.de2 > p:nth-child(2){
    position: absolute;
    width: 200px;
    height: 22px;
    top: 73%;
    left: 37.5%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;    
}
.de3 > p:nth-child(1){
    position: absolute;
    width: 52px;
    height: 24px;
    top: 70%;
    left: 53%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;  
}
.de3 > p:nth-child(2){
    position: absolute;
    width: 200px;
    height: 22px;
    top: 73%;
    left: 53%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;    
}
.pu1 > p:nth-child(1){
    position: absolute;
    width: 79px;
    height: 29px;
    top: 62%;
    left: 71%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.pu1 > p:nth-child(2){
    position: absolute;
    width: 52px;
    height: 24px;
    top: 70%;
    left: 71%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;  
}
.pu1 > p:nth-child(3){
    position: absolute;
    width: 200px;
    height: 22px;
    top: 73%;
    left: 71%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;    
}

.sc1 {
    position: absolute;
    width: 261px;
    height: 102px;
    top: 85%;
    left: 5%;
}
.sc1 a {
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    text-decoration-line: none;

    color: #FFFFFF;
}
.sc2 {
    position: absolute;
    width: 261px;
    height: 102px;
    top: 85%;
    left: 23%;
}
.sc2 a {
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    text-decoration-line: none;

    color: #FFFFFF;
}
.sc3 {
    position: absolute;
    width: 261px;
    height: 102px;
    top: 85%;
    left: 41%;
}
.sc3 a {
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    text-decoration-line: none;

    color: #FFFFFF;
}
.sc4 {
    position: absolute;
    width: 500px;
    height: 102px;
    top: 85%;
    left: 58%;
}
.sc4 a {
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    text-decoration-line: none;

    color: #FFFFFF;
}

.prt {
    position: absolute;
    width: 105px;
    height: 29px;
    top: 90%;
    left: 89%;
}
.prt a {
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: none;
    color: #FFFFFF;
}
.prt img {
    position: absolute;
    width: 26px;
    height: 19px;
    margin-top: 8%;
    margin-left: 10%;
}