.main {
    display:flex;
    justify-content: right;
    align-items:center;
}
.main > .img {
    position: absolute;
    z-index: 1;
    margin-bottom: -15%;
    margin-right: 8%;
}
.main > .img > img{
    width: 750px;
    height: 850px;
    
    animation: FadeInRight 1s;
}
.main-slogan {
    display:flex;
    justify-content: left;
    margin-left: 5%;
    z-index: 2;
}
.main-slogan > .ms-logo {
    position: absolute;
    width: 185px;
    height: 153px;
    left: 120px;
    top: 449px;
    z-index: 2;
    animation: FadeInLeft 1s;
}
.main-slogan > p:nth-child(2) {
    position: absolute;
    width: 600px;
    height: 43px;
    left: 332px;
    top: 420px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.135em;
    color: #39C8C8;
    z-index: 2;
    animation: FadeInLeft 1s;
}
.main-slogan > p:nth-child(3) {
    position: absolute;
    width: 600px;
    height: 115px;
    left: 330px;
    top: 390px;
    
    font-family: "Oduda";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    color: #39C8C8;
    z-index: 2;
    animation: FadeInLeft 1s;
}
.m-circle1 {
    z-index: -1px;
    position: absolute;
    width: 1321px;
    height: 1321px;
    left: -311px;
    top: -89px;
    
    background: #EDF9F8;
    border-radius:50%;
    animation: FadeInLeft 1s;
}
.planning1 {
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
}
.planning1 video {
    margin-top: 3%;
    opacity: 0;
}
.planning2 {
    display:flex;
    justify-content: center;
    align-items: center;
}
.p2-m1{
    position: absolute;
    width: 471px;
    height: 96px;
    background: #39C8C8;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 200px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
}
.p2-p1{
    position: absolute;
    width: 321px;
    height: 85px;
    top: 20%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    
    font-family: Pretendard;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    opacity: 0;
}
.p2-p2{
    position: absolute;
    width: 330px;
    height: 85px;
    left: 13%;
    top: 32%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;
    
    font-family: Pretendard;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    opacity: 0;
}
.p2-p3{
    position: absolute;
    width: 321px;
    height: 85px;
    left: 16%;
    top: 58%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;

    font-family: Pretendard;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    opacity: 0;
}
.p2-p4{
    position: absolute;
    width: 310px;
    height: 85px;
    left: 41%;
    top: 70%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;

    font-family: Pretendard;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    opacity: 0;
}
.p2-p5{
    position: absolute;
    width: 321px;
    height: 85px;
    left: 68%;
    top: 55%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;

    font-family: Pretendard;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    opacity: 0;
}
.p2-p6{
    position: absolute;
    width: 365px;
    height: 85px;
    left: 65%;
    top: 30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 147px;

    font-family: Pretendard;
    font-style: normal;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    opacity: 0;
}

/* .p3 {
    display:flex;
    justify-content: left;
    margin-left: 9%;
    opacity: 0%;
}

.p3 > h1{
    position: absolute;
    width: 119px;
    height: 36px;
    margin-top: 7%;

    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #39C8C8;
}
.p3 > p:nth-child(2){
    position: absolute;
    width: 379px;
    height: 86px;
    margin-top: 18%;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;

    color: #000000;

}
.p3 > p:nth-child(3){
    position: absolute;
    width: 378px;
    height: 312px;
    margin-top: 29%;

    font-family: Pretendard;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
} 
*/
.p3 {
    display:flex;
    justify-content: left;
    margin-left: 10%;
    opacity: 0%;
}

.p3 > h1{
    position: absolute;
    width: 119px;
    height: 36px;
    margin-top: 7%;

    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #39C8C8;
}
.p3 > p:nth-child(2){
    position: absolute;
    width: 379px;
    height: 86px;
    margin-top: 17%;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;

    color: #535353;

}
.p3 > p:nth-child(3){
    position: absolute;
    width: 378px;
    height: 312px;
    margin-top: 30%;

    font-family: Pretendard;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #535353;
}
.grape{
    display: flex;
    justify-content: right;
    margin-right: 8%;
    margin-top: 10%;
}
.grape1 {
    width: 543px;
    height: 578px;
    opacity: 0%;
}
.grape2 {
    margin-left: 3%;
    width: 414px;
    height: 578px;
    opacity: 0%;
}

.p4{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    opacity: 0;
}
.p4 > p:nth-child(1){
    width: 50px;
    height: 50px;
    margin-left: -1.5%;
    font-family: PT serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    
    color: #212121;
}
.p4 > p:nth-child(2){
    position: absolute;
    width: 600px;
    height: 50px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: center;

    color: #212121;
}
.p4 > p:nth-child(3){
    width: 580px;
    height: 50px;
    
    font-family: PT serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    
    color: #212121;
}
.memoji{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
.memoji1{
    width: 377.12px;
    height: 385.88px;
    margin-left: 4%;
    opacity: 0;   
}
.memoji2{
    width: 404.29px;
    height: 395.02px;
    margin-left: 5%;
    opacity: 0;   
}
.memoji3{
    width: 387.15px;
    height: 405.67px;
    margin-top: -1.5%;
    margin-left: 4%;
    opacity: 0;   
}
.p5{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
        opacity: 0;
}
.p5> p:nth-child(1) {
    
    width: 105px;
    height: 45px;
    /* margin-top: 1%; */
    
    font-family: "Oduda";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    color: #39C8C8;
}
.p5> p:nth-child(2){
    width: 752px;
    height: 29px;
    margin-left: 2%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    color: #535353;
}
.p5-p1 {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    opacity: 0%;
}
.p5-p1 > p{
    width: 833px;
    height: 64px;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #535353;
}
.solution{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
.solution1{
    z-index: 10;
    width: 316.92px;
    height: 316.92px;
    opacity: 0;
}
.solution2{
    width: 316.92px;
    height: 316.92px;
    margin-left: 5%;
    opacity: 0;
}
.solution3{
    width: 316.92px;
    height: 316.92px;
    margin-left: 5%;
    opacity: 0;
}

.p5-circle1{
    position: absolute;
    width: 1250px;
    height: 400px;
    margin-top: 1%;
    margin-left: 1%;

    background: rgba(57, 200, 200, 0.18);
    border-radius: 212.5px;
    opacity: 0;   
}

