.s1-m{
    display:flex;
    justify-content: left;
    margin-left: 10%;
}
.s1-m1{
    position: absolute;
    width: 300px;
    height: 50px;
    top: 15%;

    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
}
.s1-m2{
    position: absolute;
    width: 700px;
    height: 70px;
    top: 21%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    
    opacity: 0;
    color: #545454;
}
.s1-s{
    display:flex;
    justify-content: right;
    margin-right: 10%;
}
.s1-circle1{
    position: absolute;
    width: 1100px;
    height: 1100px;
    top: 35%;
    left: 60%;

    border-radius:50%;
    background: #58DBCC;
    border-radius:50%;
}

.s1-s1{
    position: absolute;
    width: 765px;
    height: 801px;
    top: 15%;
    left: 60%;

    opacity: 0;
}
.s2-m{
    display:flex;
    justify-content: center;
}
.s2-m1{
    position: absolute;
    width: 400px;
    height: 50px;
    top: 17%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
    text-align: center;
}
.s2-m2{
    position: absolute;
    width: 650px;
    height: 56px;
    top: 22%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    text-align: center;
    
    opacity: 0;
    color: #545454;
}
.s2-s{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 18%;
}
.s2-s1{
    opacity: 0;
}
.s2-s2{
    opacity: 0;
}
.s2-s3{
    opacity: 0;
}
.s2-s4{
    opacity: 0;
}
.s2-s5{
    opacity: 0;
}
.s2-s6{
    opacity: 0;
}
.s2-s7{
    opacity: 0;
}
.s2-s1 > img{
    border-radius: 10px;
    width: 313px;
    height: 634px;
    /* opacity: 0; */
}
.s2-s2 > img{
    border-radius: 10px;
    width: 267px;
    height: 556px;
    /* opacity: 0; */
    margin-left: -5%;
}
.s2-s3 > img{
    border-radius: 10px;
    width: 267px;
    height: 556px;
    /* opacity: 0; */
    margin-left: 5%;
}
.s2-s4 > img{
    border-radius: 10px;
    width: 267px;
    height: 556px;
    /* opacity: 0; */
    margin-left: -14%;
}
.s2-s5 > img{
    border-radius: 10px;
    width: 267px;
    height: 556px;
    /* opacity: 0; */
    margin-left: 14%;
}
.s2-s6 > img{
    border-radius: 10px;
    width: 267px;
    height: 556px;
    /* opacity: 0; */
    margin-left: -23%;
}
.s2-s7 > img{
    border-radius: 10px;
    width: 267px;
    height: 556px;
    /* opacity: 0; */
    margin-left: 23%;
}

.s3-m{
    display:flex;
    justify-content: left;
    margin-left: 10%;
}
.s3-m1{
    position: absolute;
    width: 250px;
    height: 63px;
    top: 54%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
}
.s3-m2{
    position: absolute;
    width: 650px;
    height: 56px;
    top: 60%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    
    opacity: 0;
    color: #545454;
}
.s3-m3{
    position: absolute;
    width: 400px;
    height: 53px;
    top: 75%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
}
.s3-m4{
    position: absolute;
    width: 650px;
    height: 88px;
    top: 81%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    
    opacity: 0;
    color: #545454;
}

.s3-s{
    display:flex;
    justify-content: right;
}
.s3-circle1{
    position: absolute;
    width: 348px;
    height: 348px;
    top: 26%;
    left: 36%;

    border-radius:50%;
    background: #FFB6B6;;
    opacity: 0;
}
.s3-circle2{
    position: absolute;
    width: 182px;
    height: 183px;
    top: 51%;
    left: 42%;

    border-radius:50%;
    background: #39C8C8;
    opacity: 0;
}
.s3-circle3{
    position: absolute;
    width: 183px;
    height: 184px;
    top: 13%;
    left: 81%;
    border-radius:50%;
    background: rgba(57, 200, 200, 0.5);
    opacity: 0;
}
.s3-s1{
    position: absolute;
    width: 684px;
    height: 715px;
    top: 11%;
    left: 44%;

    opacity: 0;   
}
.s3-s2{
    position: absolute;
    width: 692px;
    height: 724px;
    top: 23%;
    left: 68%;

    opacity: 0;   
}

.s4-m{
    display:flex;
    justify-content: left;
    left: 10%;
}
.s4-m1{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 18%;
    left: 42.5%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
}
.s4-m2{
    position: absolute;
    width: 800px;
    height: 56px;
    top: 24%;
    left: 42.5%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    
    opacity: 0;
    color: #545454;
}
.s4-s1{
    position: absolute;
    width: 495.38px;
    height: 791px;
    top: 13%;
    left: 17.5%;
    opacity: 0;
}
.s4-s2{
    position: absolute;
    width: 254px;
    height: 545px;
    top: 35%;
    left: 41%;
    opacity: 0;
}
.s4-s3{
    position: absolute;
    width: 249px;
    height: 545px;
    top: 34%;
    left: 56%;
    opacity: 0;
}
.s4-s4{
    position: absolute;
    width: 252px;
    height: 545px;
    top: 34%;
    left: 71.5%;
    opacity: 0;
}

.s5-m{
    display:flex;
    justify-content: left;
    left: 10%;
}
.s5-m1{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 60%;
    left: 72%;

    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
}
.s5-m2{
    position: absolute;
    width: 550px;
    height: 120px;
    top: 67%;
    left: 72%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    
    opacity: 0;
    color: #545454;
}

.s5-s1{
    position: absolute;
    width: 582px;
    height: 607px;
    top: 15%;
    left: 10%;
    opacity: 0;
}
.s5-s2{
    position: absolute;
    width: 579px;
    height: 606px;
    top: 35%;
    left: 30%;
    opacity: 0;
}
.s5-s3{
    position: absolute;
    width: 580px;
    height: 607px;
    top: 18%;
    left: 50%;
    opacity: 0;
}

.s6-m {
    display:flex;
    justify-content: center;
}
.s6-m1{
    position: absolute;
    width: 140px;
    height: 48px;
    top: 10%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
    text-align: center;
}
.s6-m2{
    position: absolute;
    width: 650px;
    height: 56px;
    top: 17%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    text-align: center;
    
    opacity: 0;
    color: #545454;
}
.s6-s1{
    position: absolute;
    width: 580px;
    height: 607px;
    top: 28%;
    left: 28%;

    opacity: 0;
}
.s6-s2{
    position: absolute;
    width: 579px;
    height: 607px;
    top: 30%;
    left: 53%;
    opacity: 0;
}

.s7-m{
    display:flex;
    justify-content: left;
}
.s7-m1{
    position: absolute;
    width: 200px;
    height: 49.36px;
    top: 65%;
    left: 10%;
    
    font-family: Oduda;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;

    opacity: 0;
    color: #39C8C8;
}
.s7-m2{
    position: absolute;
    width: 550px;
    height: 56px;
    top: 73%;
    left: 10%;
    
    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.025em;
    
    opacity: 0;
    color: #545454;
}
.s7-s1{
    position: absolute;
    width: 690px;
    height: 722px;
    top: 20%;
    left: 45%;
    opacity: 0;
}
.s7-s2{
    position: absolute;
    width: 360px;
    height: 680px;
    top: 28%;
    left: 68%;
    opacity: 0;
}
.s7-i1{
    position: absolute;
    left: 10%;
    top: 43%;
    opacity: 0;
}
.s7-i2 {
    position: absolute;
    left: 17%;
    top: 50%;
    opacity: 0;
}
.s7-i1 > img {
    width: 170px;
    height: 165px;
}
.s7-i2 > img {
    width: 170px;
    height: 165px;
}