@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face {
    src : url("/fonts/Oduda-Bold-Demo.otf"); font-family: "Oduda";
    src : url("/fonts/Pretendard-Bold.ttf"); font-family: "Pretendard_B";
    src : url("/fonts/Pretendard-ExtraBold.ttf"); font-family: "Pretendard_EB";
    src : url("/fonts/Pretendard-ExtraLight.ttf"); font-family: "Pretendard_EL";
    src : url("/fonts/Pretendard-Light.ttf"); font-family: "Pretendard_L";
    src : url("/fonts/Pretendard-Medium.ttf"); font-family: "Pretendard_M";
    src : url("/fonts/Pretendard-Regular.ttf"); font-family: "Pretendard_R";
    src : url("/fonts/Pretendard-SemiBold.ttf"); font-family: "Pretendard_SB";
    src : url("/fonts/Pretendard-Thin.ttf"); font-family: "Pretendard_T";
}
.main{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #DCF4F2;}
.planning1{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.planning2{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #FAF6F2;}
.planning3{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.planning4{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #FAF6F2;}
.planning5{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.design1{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.design2{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.design3{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #D7F0F4;}
.service1{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.service2{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #D7F6F1;}
.service3{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.service4{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.service5{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.service6{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}
.service7{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #FAFDFD;}
.footer1{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #D7E1E0;}
.footer2{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #FAF7F2;}
.footer3{position: absolute; width: 100%;  height: 100%; left: 0px; top: 0px; background: #ffffff;}


main{
    scroll-behavior: smooth;
}
    
header { 
    position: fixed;
    left:0;
    right:0;
    top:0;
    padding: 20px 0;
    z-index: 100;
}
header nav ul {
    display:flex;
    justify-content: right;
    margin-right: 30px;
}
header nav ul li {
    margin: 0 40px;
    list-style: none;
}
header nav ul li a {
    color: #39C8C8;
    text-decoration: none;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
header nav ul li a:hover {
    color: #38D9C4;
    text-decoration: none;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
header nav div a img{
    position: absolute;
    width: 51px;
    height: 43px;
    left: 80px;
    top: 32px;
}
.pl1 p a {
    color: #ffffff;
    text-decoration: none;
}
.pl1 p a:link {
    color: #ffffff;
    text-decoration: none;
}
.pl1 p a:visited {
    color: #ffffff;
    text-decoration: none;
}
.pl1 p a:hover{
    color: #D7F0F4;
    text-decoration: none;
}
.pl1 p a:active{
    color: #38D9C4;
    text-decoration: none;
}
.de1 p a {
    color: #ffffff;
    text-decoration: none;
}
.de1 p a:link {
    color: #ffffff;
    text-decoration: none;
}
.de1 p a:visited {
    color: #ffffff;
    text-decoration: none;
}
.de1 p a:hover{
    color: #D7F0F4;
    text-decoration: none;
}
.de1 p a:active{
    color: #38D9C4;
    text-decoration: none;
}
.de2 p a {
    color: #ffffff;
    text-decoration: none;
}
.de2 p a:link {
    color: #ffffff;
    text-decoration: none;
}
.de2 p a:visited {
    color: #ffffff;
    text-decoration: none;
}
.de2 p a:hover{
    color: #D7F0F4;
    text-decoration: none;
}
.de2 p a:active{
    color: #38D9C4;
    text-decoration: none;
}
.de3 p a {
    color: #ffffff;
    text-decoration: none;
}
.de3 p a:link {
    color: #ffffff;
    text-decoration: none;
}
.de3 p a:visited {
    color: #ffffff;
    text-decoration: none;
}
.de3 p a:hover{
    color: #D7F0F4;
    text-decoration: none;
}
.de3 p a:active{
    color: #38D9C4;
    text-decoration: none;
}
.pu1 p a {
    color: #ffffff;
    text-decoration: none;
}
.pu1 p a:link {
    color: #ffffff;
    text-decoration: none;
}
.pu1 p a:visited {
    color: #ffffff;
    text-decoration: none;
}
.pu1 p a:hover{
    color: #D7F0F4;
    text-decoration: none;
}
.pu1 p a:active{
    color: #38D9C4;
    text-decoration: none;
}

.prt a:hover{
    color: #D7F0F4;
    text-decoration: none;
}